/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 31/10/2023 14:06:40
*/

.VideoPlayer {
}

.VideoPlayer  .iframe-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  
}
.VideoPlayer  .iframe-container  iframe {
  overflow: hidden;
}

